*
!CHANGELOG.md
!CONTRIBUTING.md
!LICENSE
!README.md
!pyproject.toml
!ruff.toml
!.github/
!.github/**
!assets/
!assets/**
!examples
!examples/**
!src/
!src/**/*.py
!src/**/*.css
!src/**/*.js
!tests/
!tests/**/*.py
